@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-container {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.movie-container {
  display: block;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.card {
  height: "150px";
  width: "800px";
  display: "flex";
  border: "1px solid #ddd";
  boxshadow: " 0 4px 8px rgba(0, 0, 0, 0.5)";
  backgroundcolor: " white ";
  margintop: 0;
}
